/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ProgramID]
      ,[PkgID]
      ,[Name]
      ,[Command]
      ,[Comment]
      ,[Description]
      ,[Requirements]
      ,[Hierarchy]
      ,[WorkingDir]
      ,[DependentProgram]
      ,[DriveLetter]
      ,[SourceSite]
      ,[DiskReq]
      ,[RemovalKey]
      ,[ProgramFlags]
      ,[DeviceFlags]
      ,[Duration]
      ,[MSIProductID]
      ,[MSIFilePath]
      ,[UpdateMask]
      ,[Action]
      ,[Icon]
      ,[ExtData]
      ,[ISVData]
      ,[TransformReadiness]
      ,[TransformAnalysisDate]
      ,[TransformDtID]
      ,[SourceLocaleID]
  FROM [CM_FFF].[dbo].[PkgPrograms]